# dependencies
node_modules/
.pnpm-store/

# next.js
.next/
out/

# production
build/
dist/

# env files
.env
.env.local
.env.production

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# generated / build artifacts
src/generated/
*.flow.map.json
tsconfig.tsbuildinfo

# debug logs
npm-debug.log*
pnpm-debug.log*
yarn-error.log*

# test coverage
coverage/

# Generated API docs
docs/api/
